.jam_page{
	background-color: #FFFFFF;
}
.jam_new_article{
	margin-bottom: 5px;
	float: left;
}
.jam_toolbar{
	position: relative;
}
.clear{
	clear: both;
}
.control-group{
	position: absolute;
	right: 0;
	margin: 0 !important;
}

.title{
	color: #666666;
}
#filter_catid,
#filter_authorid,
#filter_state,
#filter_langid,
#filter_search {
	margin-bottom: 5px;
}
.icon-featured::before, 
.icon-expired::before, 
.icon-pending::before {
    color: #c67605;
}
.icon-publish::before {
    color: #378137;
}
.icon-unpublish::before {
    color: #942a25;
}
.disabled a{
	pointer-events: none;
}
.menuitem .icon-publish::before,
.menuitem .icon-unpublish::before,
.menuitem .icon-featured::before{
	color: #333333;
}
.menuitem:hover .icon-publish::before,
.menuitem:hover .icon-unpublish::before,
.menuitem:hover .icon-featured::before{
	color: #FFFFFF;
}
.disabled .icon-publish::before,
.disabled .icon-unpublish::before,
.disabled .icon-featured::before,
.menuitem.disabled:hover .icon-publish::before,
.menuitem.disabled:hover .icon-unpublish::before,
.menuitem.disabled:hover .icon-featured::before{
	color: #999999;
}
.modal{
    width: 560px !important;
    left: 50% !important;
    top: 10% !important;
    margin-left: -280px !important;
}
.modal-body{
	padding: 9px 15px !important;
}
.accordion-inner{
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 15px !important;
}
